#root {
  height: 100vh;
}

.App {
  height: 100vh;
  width: 100vw;
}

.App-inner {
  position: relative;
  text-align: center;
  padding: 0 2em;
  top: 50%;
  transform: translateY(-50%);
}

.login {
  padding-bottom: 5em;
}

.login .header {
  margin-bottom: 20px;
  font-size: 2em;
}

.login .enter-btn:hover {
  cursor: pointer;
}

.score-board .header {
  margin-bottom: 20px;
  font-size: 1.75em;
}
.score-board .header .header {
  margin-top: 5px;
}

.score-board .user-score {
  color: darkgreen;
}

.poetry-container {
  height: 100vh;
  width: 100%;
}

.poetry-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  padding: 1em 0;
}

.poetry-card {
  margin: 0.5em;
  height: calc(50% - 1.5em);
  border-radius: 0.5em;
  border: lightgray dashed 0.1em;
  background: #ffffffA0;
}

.poetry-card.selected {
  border: slateblue solid 0.2em;
  background: #ffffffe0;
}

.poetry-card .title {
  font-size: 1.5em;
  margin-bottom: 0.25em;
}
.poetry-card .author {
  font-size: 1.15em;
  margin: 0 0 0.5em 0;
}
.poetry-card .line {
  font-size: 1.1em;
}

.turing-test .submit-btn {
  position: absolute;
  right: 1em;
  bottom: 1em;
  transform: translateY(-100%);
  z-index: 1000;
}

.poetry-card-inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.mode-choice {
  margin-top: 1em;
}

.description {
  background: #ffffffa0;
  position: absolute;
  top: calc(100% - 5em);
  left: 0;
  margin: 0.5em 1.5em;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-size: 0.9em;
  text-align: left;
}

.timer {
  position: fixed;
  right: 1em;
  top: 1em;
}

.guide-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #00000080;
  color: white;
  font-size: 1.25em;
  z-index: 2000;
}

.guide-container {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 1em;
  text-align: center;
}

.guide-container .skip {
  margin-top: 0.75em;
}

.guide-container .btn {
  margin: 0 0.5em;
}
